*{
    padding: 0;
    margin: 0;
}

/*.color1 { #6e9167 };
.color2 { #ffdd8c };
.color3 { #ff8030 };
.color4 { #cc4e00 };
.color5 { #700808 };*/


.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #ff8030;
    color: white;  
}

.title{
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 30px;
    padding-left: 50px;
    margin-right: 150px;
    margin-left: 20px;  
}


.textInput{
    border: 2px solid black;
    border-radius: 5px;
}
.btn-search{
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 2px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.btn-reset{
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 2px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


.divBtn{
    padding-top: 40px;
    padding-right: 50px;
      
}

main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 50px;
    padding-right: 50px;

}

.one{
    align-items: center;
}
footer{
    background-color: #ff8030;
    padding: 50px;
}
.favorite-selected{
    border: 5px solid #ff8030;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    
}
.animeCard{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 10px;
    padding-top: 10px;
    color: #ff8030;
   
    
    
}
.animeCardFavorite{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding-top: 10px;
    color: #ff8030;
    
}

.sizeImg{
    width: 150px;
    padding: 10px;
    

}
.paragraph{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    text-align: center;
}